
.wrap {
    margin: auto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.typearea{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    margin: 0 auto;
    text-align: center;
}

p{
    margin: 0;
}

#lowestpay{
    padding: 15px 25px 0px 30px;
}

#fromtoul{
    padding: 15px 30px;
    margin: auto;
    text-align: center;
}

#fromtoul li{
    float: left;
    padding: 5px;
}

.formarea{
    width: 100%;
    height: 230px;
    background-color: #DCDCDC;
    margin-left: auto;
}

.formarea a{
    text-decoration: none;
    color: black;
}

#formul{
    margin: 0 auto;
    text-align: center;
}

#formul li{
    padding: 15px 5px 0px 15px;
    display: inline-block;
}

li input{
    margin: 0 5px 0 0;
}

.title{
    height: auto;
    width: 110px;
    float: left;
}

.calculbtn{
    width: 100px;
    height: 40px;
    background-color: #353646;
    margin: 30px auto;
    border-radius: 5px;
}

.calculbtn p{
    padding: 11px 20px 0 22px;
    color: #ffffff;
}

.resultarea{
    width: 100%;
    height: auto;
}

#resultul{
    margin: 10px 30px 10px 30px;
    padding: 5px 2px 0 18px;
}

#resultul li{
    float: left;
    margin: 0 5px 0 0;
}

#resultpay{
    font-size: 1.2em;
    color: #353646;
}