.container {
    width: 300px;
    height: 500px;
    background-color: #ffffff;
    position: relative;
}

.menubar{
    width: 300px;
    height: 60px;
    background-color: #DCDCDC;
}

.menufont{
    font-size: 0.85em;
    color: #FFFFFF;
}

#talkfont{
    padding: 3px 5px 2px 6px;
}

#payfont{
    padding: 3px 0 2px 0;
}

#loginfont{
    padding: 3px 5px 2px 12px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menuul li{
    float: left;
    margin: 10px 5px 5px 0px;
}

.logo{
    width: 70px;
    height: 40px;
    background-image: url("albatalklogo.png");
    margin: auto;
}

.menubtn{ /* 메뉴의 버튼들 */
    width: 60px;
    height: 20px;
    background-color: #353646;
    padding: 10px 5px 10px 5px;
    border-radius: 20px;
}

.typearea{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
}

p{
    margin: 0;
}

#lowestpay{
    padding: 15px 25px 0px 30px;
}

#fromtoul{
    padding: 15px 30px;
    margin: 0 25px;
}

#fromtoul li{
    float: left;
    padding: 5px;
}

.formarea{
    width: 100%;
    height: 230px;
    background-color: #DCDCDC;
}

.formarea a{
    text-decoration: none;
    color: black;
}

#formul li{
    padding: 15px 5px 0px 15px;
}

li input{
    margin: 0 5px 0 0;
}

.title{
    height: auto;
    width: 110px;
    float: left;
}

.calculbtn{
    width: 100px;
    height: 40px;
    background-color: #353646;
    margin: 30px 50px 0 100px;
    border-radius: 5px;
}

.calculbtn p{
    padding: 11px 20px 0 22px;
    color: #ffffff;
}

.resultarea{
    width: 100%;
    height: auto;
}

#resultul{
    margin: 10px 30px 10px 30px;
    padding: 5px 2px 0 18px;
}

#resultul li{
    float: left;
    margin: 0 5px 0 0;
}

#resultpay{
    font-size: 1.2em;
    color: #353646;
}