.calculator-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 4px 0;
    justify-content: flex-start;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.typearea{
    background-color: #ffffff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    margin: 0;
}

#lowestpay{
    padding: 4px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calc-tab{
    display: flex;
    background-color: #ffffff;
}

.tab-node {
    flex: 1;
    display: flex;
    overflow: hidden;
    border: 0.5px solid #e7e7e7;
}

.calc-tab-title {
    padding: 8px 24px;
    font-size: 12pt;
}

.calc-tab-select {
    flex: 1;
    display: flex;
}

.calculator-select {
    flex: 1;
    font-size: 12pt;
    padding: 4px 12px;
    background-color: #d7d7d7;
    border-radius: 0;
    border: 0;
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
    /* linear-gradient(to right, #ccc, #ccc); */
    background-position:
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 10px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
  
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.formarea{
    flex: 1;
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    padding: 4px 16px;
}

.formarea a{
    text-decoration: none;
    color: black;
}

#formul {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



#formul li{
    flex: 1;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

.formula-item {
    display: flex;
    flex-direction: column;
}

.formula-item > .item-title {
    font-size: 12pt;
    margin: 8px 0 0 4px;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.formula-item > .item-description {
    font-size: 11pt;
    
}

.formula-item > .input-container {
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 6px;
}

/* #formul > li > * {
    margin: 0 8px;   
} */


.input-container > input{
    margin: 0;
    /* border-bottom: 5px solid #d7d7d7; */
    border: 0;
    flex: 1;
    font-size: 1em;
}

.formarea input{
    /* border-radius: 5px; */
}

.formarea input:focus { 
    outline: none;
    box-shadow: 0 0 0 #ffffff;
}

.calculator-btn-container {
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculbtn{
    background-color: #353646;
    border-radius: 5px;
    padding: 8px 15px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: bold;
}

.resultarea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resultul{
    margin: 10px;
}

#resultul li{
    margin: 0 5px 0 0;
    display: inline-block;
}

#resultpay{
    font-size: 1.2em;
    color: #353646;
}

#warn{
    text-align: center;
    font-size: 0.85em;
}

.calc-error {
    color: red;
    margin: 10px;
}