.login {
    flex:1;
    background-color: #ffffff;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 50px 20px 40px 20px;
    justify-content: center;
    align-items: center;
}

.settings-btn {
    position:absolute;
    background-color: transparent;
    border: 0;
    top: 20px;
    right: 20px;
    color: #777777;
}

.settings-btn:hover {
    cursor: pointer;
}

button:focus {
    outline: 0;
}

.login > .logo {
    width: 300px;
    height: 300px;
    margin: 50px 0;
    background-repeat: no-repeat;
    background-position: center;
}