.login {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 50px 20px 40px 20px;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    -webkit-animation: slide 6s linear 1;
}

.settings-btn {
    position:absolute;
    background-color: transparent;
    border: 0;
    top: 20px;
    right: 20px;
    color: #ffffff;
}

.settings-btn:hover {
    cursor: pointer;
}

button:focus {
    outline: 0;
}

.login > .logo {
    width: 300px;
    flex: 0 1 300px;    
    background-repeat: no-repeat;
    background-position: center;
}

.kakao-login-btn {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}




/* background 이미지 슬라이드 스타일 */

@-webkit-keyframes slide {
  from {background-position: -330px 0;}
  to {background-position: 100% 0;}
}

/* .login {
  background-position: center;
  background-size: cover;
  display: flex;
  flex: 1;
  -webkit-animation: slide 6s linear 1;
} */
