.main-tabs {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    height: 40px;
    border-bottom: 0.5px solid #e7e7e7;
}

.main-tabs > li {
    list-style: none;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-tabs > li > a {
    text-decoration: none;
    color: #000000;
    font-size: 8pt;
}