@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

.working-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#working {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#dcdcdc;
  flex: 1;
}

.label {
  /* font-family: 'Nanum Gothic', sans-serif; */
  color: #353645;
  display: flex;
  align-items: center;
  width: calc(100% - 16px);
  margin: 8px 24px;
}

.labelTitle {
  text-align: right;
  margin-right: 16px;
  flex: 0 1 60px;
  font-size: 16px;
}

.working-hour {
  font-size: 16px;
  flex: 1;
  /* text-align: right; */
}

.time {
  font-size: 15px;
  flex: 1;
}

.txtWrap {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
}

.pay {
  text-align: right;
  font-size: 16px;
}

.won {
  margin-left: 3px;
}

.callnumber {
  /* width: 140px; */
  padding: 0 5px;
  text-align: right;
  font-size: 16px;
}

.detail-container {
  flex: 1;
}

.textarea {
  flex: 1;
  display: flex;
  height: 100%;
}

.input-text {
  background-color: #ffffff;
  padding: 8px;
  /* box-shadow: 0 2px 8px #d7d7d7; */
  border-radius: 16px;
  display: flex;
  flex: 1;
  align-items: center;
}

.working-text {
  flex: 1;
  display: flex;
}

.working-detail {
  flex: 0 1 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.more-details {
  /* border: 1px solid black; */
  border: 0;
  padding: 8px;
  border-radius: 16px;
  font-size: 10pt;
  flex: 1;
  resize: none;
}

input:focus,textarea:focus, select:focus {
  outline: none;
}

input {
  border: 0;
  border-bottom: 0.5px solid #e7e7e7;
}

.send-footer {
  flex: 0 1 50px;
  border-top: 0.5px solid #d7d7d7;
}