@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

#working {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#f7f7f7;
}

.label {
  /* font-family: 'Nanum Gothic', sans-serif; */
  color: #353645;
  display: flex;
  width: calc(100% - 16px);
  margin: 0 8px;
}

.labelTitle {
  text-align: left;
  flex: 0 1 50px;
  font-size: 14px;
}

.working-hour {
  font-size: 16px;
  flex: 1;
  /* text-align: right; */
}

.time {
  font-size: 15px;
  flex: 1;
}

.txtWrap {
  flex: 2;
  display: flex;
  flex-wrap:wrap;
  text-align: center;
}

.pay {
  text-align: right;
  font-size: 16px;
}

.won {
  margin-left: 3px;
}

.callnumber {
  /* width: 140px; */
  padding: 0 5px;
  text-align: right;
  font-size: 16px;
}

.textarea {
  text-align: center;
}

#more-details {
  height: 220px;
  border: 1px solid black;
  padding: 5px;
  font-size: 16px;
  resize: none;
}

input:focus {
  outline: none;
}

input {
  border: 0;
  border-bottom: 0.5px solid #e7e7e7;
}
